body{
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    
}

.framework{
   text-align: center; 
}

.contentForm{
    display: inline-flex;
    justify-content: center;
    background-color: #009ffd;
    border-radius: 83px;
    padding: 10%;
    margin: 5%;
}

h3{ color: aliceblue; font-weight: 400; font-size: 34px;}

.classPseudo{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 5%;
    color: aliceblue;
    font-size:120%;

}

.classPassword{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 5%;
    color: aliceblue;
    font-size:120%;


}

.classMail{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 5%;
    color: aliceblue;
    font-size:120%;
}

.signup{
    margin-right: 20%;
}

.login{
    margin-left: 20%;   
}

.submitbtn{
    font-size:120%;
}